<p id="notice"><%= notice %></p>

<p>
  <b>Id producto:</b>
  <%= @product.id_producto %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Client:</b>
  <%= @product.client %>
</p>

<p>
  <b>References:</b>
  <%= @product.references %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
